header{
    background-color: #F6F6F6;

}

.header_card{
    display: flex;
    align-items: center;justify-content: space-between;
    font-size: 12px;
    height: 50px;
}

header img{
    display: inline-block;
}

section{
    background-color: #F6F6F6;
}

.left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.card_btn{
    display: flex;
    gap: 50px;
    
}

.right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.card_login{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 15px 5px 10px;
    border: 1px solid #2CAB1C;
    border-radius: 6px;
}

.nav{
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);

}

.nav.active{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10000;
}

.nav_titles h4.active{
    padding: 20px 20px;
    text-align: center;
}

.nav_titles{
    display: flex;
    margin-left: 30px;
}

.nav_titles a.on{
    background-color: #33AE23;
    color: #fff;
}

.nav_titles h4{
    font-weight: normal;
    padding: 27px 20px;
    text-align: center;
}

.date{
    margin: 15px 0;
    display: flex;
    justify-content: end;
    font-size: 12px;
    font-weight: bold;
    color: #818181;
    padding-right: 30px;
}

.selector{
    width: 315px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #223354;
}

.selector a.on{
    background-color: #fff;
    color: #000;
}

.selector a:hover{
    background-color: #fff;
    color: #223354;
}

.selector a{
    display: block;
    padding: 15px;
    border: 1px solid #C0C0C0;
    margin-right: -1px;
}

.title{
    height: 47px;
    line-height: 47px;
    background-color: #223354;
    width: 940px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);
    margin: 30px auto;
}

.title h3{
    font-size: 16px;
    color: white;
    padding-left: 20px;
    font-size: 18px;
}

.card_detail{
    width: 940px;
    height: 445px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}


.image_area{
    margin: 20px;
}

.image_area img{
    display: block;
    width: 170px;
    height: 270px;
}

.image_area a{
    
    display: block;
    margin: 10px auto;
    width: 135px;
    font-size: 12px;
    padding: 5px 20px;
    text-align: center;
    background: linear-gradient(to bottom, #ddd 20%, #ebebeb 60% );
    border: 1px solid #939393;
    border-radius: 4px;
    font-weight: bold;
}

.image_area a:hover{
    background: linear-gradient(to bottom, #e0e0e0 40%, #cccccc 100% );
}


.info{
    padding: 20px 0;
}

.info h3{
    font-size: 24px;
    font-weight: normal;
}

.text{
    margin: 15px 0;
    font-size: 12px;
    line-height: 1.5;
    color: #696969;
}
.text p{
    padding: 5px 0;
}

.info p{
    font-size: 12px;
    color: #696969;
}

.qr_area{
    margin: auto 0;
}

.qr_area img{
    display: block;
    width: 82px;
    height: 81px;
    margin: 0 auto;
}


.qr_area span{
    display: block;
    width: 81px;
    padding: 5px 0;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    background-color: #000;
    color: #fff;
}
.qr_area p{
    width: 150px;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

.caution{
    position: relative;
    width: 940px;
    height: 470px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 30px auto;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.caution_text{
    padding: 0px 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    line-height: 1.6;
    font-size: 12px;
    border-bottom: 1px solid #b9b9b9;
}

.caution_text p:nth-child(-n+5){
    font-weight: bold;
}

.caution_text p:last-child{
    padding-top: 20px;
}

.caution a{
    position: absolute;
    top: 90%;
    right: 3%;
    padding: 10px 30px;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    background: linear-gradient(to bottom, #34a026 40%, #17680c 100% );
}

.caution a:hover{
    background: #17680c ; 
}

.footer_area{
    font-size: 12px;
    background-color: #F9F9F9;
    height: 293px;
}

.footer_area h4{
    color: #1C4E64;
    font-size: 14px;
}

.footer_area a:hover{
    text-decoration: underline;
}

.line{
    width: 940px;
    height: 35px;
    background: linear-gradient(to bottom, #ffffff 20%, #f3f3f3 50% );
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    margin: 30px auto;
}

.f_info{
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap: 100px;
}

.f_info li a{
    line-height: 1.8;
}

.f_left{
    display: flex;
    gap: 40px;
}


.left2 img{
    display: block;
    margin-bottom: 15px;
}


.right_group{
    display: flex;
    align-items: center;
    gap:100px;
    margin-bottom: 50px;
}

.right_group h4{
    color: #33AE23;
    margin-bottom: 10px;
}

.footer_area p{
    color: #33AE23;
    font-weight: bold;
}