.active{
    color: #18ABEB;
    text-decoration: underline;
}

.list li a:hover{
    color: #18ABEB;
    text-decoration: underline;
}


.list li a i:hover{
    background-color: #18ABEB;
    color: #fff;
    border: 1px solid #fff;
}




/* slider */

.slider{  
    position: relative;
    margin-top: 80px;
}

.slides{
    position: relative;
}

.slide_01{
    position: relative;
}

.slide_01 img{
    display: block;
    width: 100%;
    height: 455px;
    object-fit: cover;
}

.slide_01 .texts{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-30%,-30%);
    color: #fff;
}

.slide_01 .texts h2{
    font-size: 32px;
}

.slide_01 .texts p{
    margin: 24px 0;
    font-size: 16px;
}

.slide_01 .texts a span{
    display: inline-block;
    padding: 12px 20px;
    text-align: center;
    border: 1px solid #fff;
}

.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    gap: 1000px;
    justify-content: space-between; 
} 

.arrow i{
    display: block;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    height: 46px;
    line-height: 46px;
    width: 30px;  
    font-size: 28px;
    cursor: pointer;
}

.control{
    position: absolute;
    color: #222;
    top: 85%;
    left: 47%;   
    transform: rotateY(-47%);
}


/* slick-dots */
.slick-dots{
    bottom: 50px;
    
}

.slick-dots li button::before{
    content: '';
    
}


.slick-dots li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.5);
    transition: all 0.3s;
}

.slick-dots li.slick-active{
    background-color: #fff;
    width: 20px;
    border-radius: 20px;
}

.control{
    color: #fff;
}

/* sub_gnb  */
.sub_gnb{
    position: relative;
    top: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    filter: drop-shadow(0 2px 2px rgba(0,0,0,0.5));
}

.sub_gnb li{
    padding: 15px 0;
}


.sub_gnb li a{
    display: inline-block;
    padding: 0 30px;
    border-right: 1px solid #a1a1a1;
    color: #4f4f4f;
    font-size: 14px;
}

.sub_gnb a.last{
    border-right:none
}

.sub_gnb li a:hover{
    text-decoration: underline;
    color: #18ABEB;
}

.event{
    margin-top: 98px;
    margin-bottom: 162px; 

}

.titles{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3{
    font-size: 28px;
}

.list{
    display: flex;
    gap: 28px;
    align-items: center;
}

.list li a{
    font-size: 16px;
}

.list li a i{
    display: block;
    border: 1px solid #9C9C9C;
    padding: 5px;
}

.event{
    position: relative;
}

.event_list{
    margin: 30px 40px;
}

.event_list li{
    border: 5px solid transparent;
    width: 206px;

}

.event_list li:hover {
    border: 5px solid #18ABEB;
    cursor: pointer;
}

.event_text{
    padding: 14px 16px;
    height: 82px;
    background-color: #fff;
}

.event_list .photo{
    height: 148px;
}
.event_list .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.arrow.event{
    position: absolute;
    top: 30%;
    left: 50%;
}


 /* the slides */
 .slick-slide {
    margin: 0 20px;
}

/* the parent */
.slick-list {
    margin: 0 -20px;
}


/* qr */
.qr{
    background-image: url(../images/h_intro_mb_220527.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 565px;
    position: relative;
}

.qr_text{
    position: absolute;
    top: 20%;
    left: 55%;
    color: #fff;
}
.qr_text span{
    font-weight: bold;
    font-size: 18px;
}

.qr_text h3{
    font-size: 36px;
}

.qr_text p{
    margin-top: 35px;
    font-size: 16px;
}

.qr_codes{
    position: absolute;
    display: flex;
    gap: 20px;
    top: 50%;
    left: 55%;
    margin-top: 35px;
}

.qr img{
    display: block;
}

.app{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 15px;
}

.app span{
    font-size: 12px;
    color: #fff;
}

/* card */
.cards .titles{
    margin-top: 100px;
}

.card_list{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 35px;
}

.card_list li{
    flex: 1;
    align-items: center;
    justify-content: center;
}

.card_list img{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 238px;
}

.card_list h4{
    display: block;
    text-align: center;
    margin-top: 18px;
    height: 34px;
}

.card_list span{
    display: block;
    text-align: center;
    align-items: center;
    margin-top: 21px;
    height: 30px;
}

.card_list a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 165px;
    border: 1px solid #A8A8A8;
    background-color: #F6FCFF;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 12px;
}

/* notice */
.notice{
    display: flex;
    background-color: #DCECF4;
    margin-top: 84px;
    height: 606px;
}

.notice_area{
    display: flex;
    gap: 20px;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.notice1{

    background-color: #fff;
    width: 440px;
    height: 405px;
    padding: 15px;
}

.notice1 .list{
    color: #9C9C9C;
}

.notice_list{
    margin-top: 28px;
    line-height: 2.4;
}

.notice_list li span:hover{
    text-decoration: underline;
   
}

.notice2{
    position: relative;
    width: 440px;
    height: 405px;
}

.notice2_slides{
    position: relative;
    /* margin-bottom: 20px; */
}



.notice2_list{
    display: grid;
    grid-template-columns:repeat(2,6fr);
    gap: 10px; 
}

.notice2_list li{
    height: 56px;
    line-height: 56px;
    background-color: #fff;
    
}

.notice2_list li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    font-size: 16px;
}

.notice2_list li:hover{
    color: #18ABEB;
    border: 2px solid #18ABEB;
    
}

button.slick-arrow::before{
    display: none;
}

.notice2_slide img{
    display: block;
    width: 440px;
    height: 194px;
    
}

/* notice2-slick dot */
.slick-dots{
    position: absolute;
    top: 85%;
    color: #fff;
}

.notice2 .control{
    position: absolute;
    top: 41%;
    left: 38%;
}

.slick-dotted.slick-slider{
    margin-bottom: 20px;
}



